<div class="bg">
  <div class="cg">
    <h1 class="va">aaa</h1>
    <hr>

    <div class="form-group">
      <img src="{{supplier.user.avatar}}" alt="error">
    </div>
    <div class="form-group">
      {{supplier.name}}
    </div>
    <div class="form-group">
      {{supplier.user.email}}
    </div>
    <div class="form-group">
      {{supplier.phoneNumber}}
    </div>
    <div class="form-group">
      {{supplier.address}}
    </div>

    <div class="form-group">
      {{supplier.sex}}
    </div>
    <div class="form-group">
      {{supplier.country}}
    </div>
    <div class="form-group">
      {{supplier.city}}
    </div>
    <div class="form-group">
      {{supplier.height}}
    </div>
    <div class="form-group">
      {{supplier.weight}}
    </div>
    <div class="form-group">
      {{supplier.interests}}
    </div>
  </div>
  <div><button (click)="getCount(supplier.id)">jjj</button></div>
</div>
