<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
        <div>
          <h1>Chúng tôi ba đời chữa bệnh FA</h1>
          <h2>Hẳn các bạn phải tuyệt vọng lắm mới tìm đến tôi đúng không :))</h2>
        </div>
      </div>
      <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUgl02wrseQ2vyfcOMWO19BfJNfXRZxMDVzQ&usqp=CAU" alt="">
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->



<div class="container">
  <div class="row">
    <!--    <div class="col-12" style="margin-top: 20px">-->
    <mat-card style="margin: 50px 0">

      <!--        Tìm kiếm -->
      <div align="center" >
        <input placeholder="Tên" style="border-radius: 30px;height: 40px;width: 120px; text-align: center" [(ngModel)]="search.name" >
        &nbsp;&nbsp;&nbsp;
        <select style="border-radius:50px;height: 40px;width: 120px;text-align: center" [(ngModel)]="age">

          <option>Tuổi</option>
          <option value='1824'>18-24</option>
          <option value='2529'>25-29</option>
          <option value='3035'>30-35</option>
        </select>
        &nbsp;&nbsp;&nbsp;

        <select style="border-radius: 50px;height: 40px;width: 120px;text-align: center" [(ngModel)]="search.sex">
          <option>Giới tính</option>
          <option value="Nữ">Nữ</option>
          <option value="Nam">Nam</option>
        </select>
        &nbsp;&nbsp;&nbsp;

        <select style="border-radius:50px;height: 40px;width: 120px;text-align: center" [(ngModel)]="search.city">
          <option>Địa chỉ</option>
          <option value="Hà Nội">Hà Nội</option>
          <option value="Đà Nẵng">Đà Nẵng</option>
          <option value="Sài Gòn">Sài Gòn</option>
        </select>
        &nbsp;&nbsp;&nbsp;

        <button style="border-radius: 50px;height: 40px;width: 120px;background-color: #e26161;color: white"
                mat-stroked-button  (click)="top6View()">Top 6 view
        </button>
        &nbsp;&nbsp;&nbsp;

        <button icon style="border-radius:50px;height: 40px;width: 120px; "  mat-stroked-button color="primary" (click)="searchSup()">Tìm kiếm</button>

      </div>

      <br>

      <br><br>

      <!--        Hiển thị dạng lưới-->
      <div>
        <div>
          <mat-card-title (click)="pageFindAll({page:0 ,size:12})"
                          style="padding-left: 35px;font-size: 40px;color: indianred">
            Supplier
          </mat-card-title>
        </div>
        <div class="row">
          <div class="column" *ngFor="let sup of suppliers">
            <div >
              <a [routerLink]="['/detail-supplier/',sup.id]">
                <img class="img" [src]="sup.user.avatar" alt=""><br><br>
                <i style="font-size: 1.5vw; color: crimson">{{sup.name}}</i>  <br>
              </a>

              <b>Mô tả: </b><button *ngIf="!checkLogin" style="margin-left: 150px ;border-radius: 50px;height: 40px;width: 90px ;background-color: #e26161;color: white" (click)="openDialog()">Thuê ngay</button><br>
              <b>Mô tả: </b><button *ngIf="checkLogin" style="margin-left: 150px ;border-radius: 50px;height: 40px;width: 90px ;background-color: #e26161;color: white" [routerLink]="['/order-create/'+sup.id]">Thuê ngay</button><br>
              <i>{{sup.description}}</i><br>
              <b>Dịch vụ cung cấp: </b>
              <p *ngFor="let ser of sup.services">
                <i>{{ser.name}}</i>
              </p>
              <p>View: <b style="font-size: 22px;color: #ff7f48"> {{sup.view}}</b></p><br>

            </div>
          </div>
        </div>
        <mat-paginator [length]="totalElements" [pageSizeOptions]="[12,16,24]"
                       aria-label="Select page" (page)="nextPage($event)">
        </mat-paginator>
      </div>

    </mat-card>
  </div>
</div>
<!--</div>-->
