.column {
  float: left;
  width: 33%;
  padding: 20px 20px;
}
.card {
  //box-shadow: 12px 12px 2px 1px rgba(60,84,255,0.94);
  text-align: center;
  //background-color: #17e844;
}

.img {
  width: 270px;
  height: 200px;
  border-radius: 8%;
}
/*SEARCH */
.search {
  text-align: center;
}
