.column {
  float: left;
  width: 25%;
  padding: 20px 20px;
}
.card {
  //box-shadow: 12px 12px 2px 1px rgba(60,84,255,0.94);
  text-align: center;
  //background-color: #17e844;
}
div.card {
  padding: 10px;
}
.img {
  width: auto;
  height: auto;
  border-radius: 8%;
}
/*SEARCH */
.search {
  text-align: center;
}
