<div class="bg">
  <div class="cg">
    <h1 class="va" [ngStyle]="{color: '#8B6969'}">{{users1.name}}</h1>
    <hr>
    <div class="form-group">
      {{users1.username}}
    </div>
    <div class="form-group">
      <img src="{{users1.avatar}}" alt="error">
    </div>
    <div class="form-group">
    {{users1.email}}
  </div>
    <div class="form-group">
    {{users1.phoneNumber}}
  </div>
    <div class="form-group">
    {{users1.address}}
  </div>
    <div class="form-group">
    {{users1.joinDate }}
  </div>
    <div class="form-group">
    {{users1.sex}}
  </div>
    <div class="form-group">
    {{users1.country}}
  </div>
    <div class="form-group">
    {{users1.city}}
  </div>
    <div class="form-group">
    {{users1.height}}
  </div>
    <div class="form-group">
    {{users1.weight}}
  </div>
    <div class="form-group">
    {{users1.interests}}
  </div>
    <div class="form-group">
      {{users1.status}}
    </div>
    </div>
  </div>

