<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top: 30px">
      <mat-card style="margin: 50px" >
        <h1 mat-dialog-title class="alert alert-primary">Thông báo từ hệ thống</h1>
        <div mat-dialog-content>Đăng ký thông tin thành công, đang chờ hệ thống xét duyệt đơn đăng ký của bạn</div>
        <div mat-dialog-actions>
          <button mat-dialog-close mat-raised-button color="primary">Đóng</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
