<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top: 20px">
      <mat-card style="margin: 50px 0">
        <mat-error>Xác nhận đăng xuất khỏi hệ thống?</mat-error>
        <br><br><br>

        <!--                <button mat-button [mat-dialog-close]="false" cdkFocusInitial>NO</button>-->
        <button mat-raised-button color="warn" [mat-dialog-close]="false">NO</button>
        <!--                <button mat-button [mat-dialog-close]="true" cdkFocusInitial>YES</button>-->
        <button mat-raised-button color="primary" [mat-dialog-close]="true">YES</button>
      </mat-card>
    </div>
  </div>
</div><p>dialog works!</p>
