<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top: 30px"><br><br>
      <mat-card style="margin: 50px" >
        <mat-card-title class="alert alert-primary">Chi tiết đơn hàng</mat-card-title>
        <div>
          <table>
            <tr>
              <td>Tên người cung cấp: </td>
              <td>{{order.supplier.name}}</td>
            </tr>
            <tr>
              <td>Tên người thuê: </td>
              <td>{{order.user.username}}</td>
            </tr>
            <tr>
              <td>Địa điểm : </td>
              <td>{{order.address}}</td>
            </tr>
            <tr>
              <td>Thời gian: </td>
              <td>{{order.totalTime}} giờ</td>
            </tr>
            <tr>
              <td>Từ: </td>
              <td>{{order.hourStart}}h</td>
              <td>ngày {{order.dayStart}}</td>
            </tr>
            <tr>
              <td>Số tiền thuê:</td>
              <td>{{order.totalMoney}}k</td>
            </tr>
            <tr>
              <td>Trạng thái đơn hàng: </td>
              <td> {{order.statusOrder}}</td>
            </tr>
            <tr>
              <td>Báo cáo về người thuê : </td>
              <td *ngIf="order.feedback==null"> Không có báo gì về người thuê người thuê</td>
              <td>{{order.feedback}}</td>
            </tr>
          </table>
        </div>
      </mat-card>
    </div>
  </div>
</div>
