
<div >
  <h2 style="margin: 4px 0 5px; font-weight: 700;font-size: 25px; color: #f0564a; text-align: center"> Thông tin cá nhân</h2>
  <br>
  <div class="container">
    <form >
      <table style="width: 100%">
        <tr>
          <td>
            <div class="form-group">
              <h5 for="email">Họ và tên : </h5>
              <input type="email" class="form-control" formControlName="name" placeholder="Nhập tên của bạn" id="email"
                     style="width: 250px">
              <p *ngIf="!ccdvForm.get('name')?.valid && ccdvForm.get('name')?.touched " style="color: red">không thể để
                trống</p>
            </div>
          </td>
          <td style="padding-left: 7%">
            <div class="form-group">
              <h5>Ngày sinh : </h5>
              <input type="date" style="width: 250px" class="form-control" placeholder="nhập ngày sinh của bạn"
                     formControlName="dateOfBirth">
            </div>
          </td>
          <td style="float: right">
            <div class="form-group">
              <h5> Giới tính : </h5>
              <div>
                <select name="" id="" formControlName="gender" style="width: 250px" class="form-control">
                  <option value="" disabled selected>Chọn giới tính</option>
                  <option value="Nam">Nam</option>
                  <option value="Nu">Nữ</option>
                </select>
                <p *ngIf="!ccdvForm.get('gender')?.valid && ccdvForm.get('gender')?.touched" style="color: red">không thể để
                  trống</p>

              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              <h5>Thành Phố :</h5>
              <select formControlName="city" style="width: 250px" class="form-control">
                <option value="" disabled selected>Chọn thành phố</option>
                <option *ngFor="let item of city" value="{{item.name}}">{{item.name}}</option>
              </select>
              <p *ngIf="!ccdvForm.get('city')?.valid && ccdvForm.get('city')?.touched" style="color: red">không thể để
                trống</p>
            </div>
          </td>
          <td style="padding-left: 7%">

            <div class="form-group">
              <h5>Quốc gia : </h5>
              <input style="width: 250px" class="form-control" placeholder="Nhập quốc gia" formControlName="nationality">
              <p *ngIf="!ccdvForm.get('nationality')?.valid && ccdvForm.get('nationality')?.touched" style="color: red">
                không thể để trống</p>
            </div>
          </td>
          <td style="float: right">
            <div class="form-group">
              <h5>Ảnh : </h5>
              <input style="width: 250px" class="form-control" placeholder="Nhập link ảnh" formControlName="avatar">
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              <h5>Chiều cao : </h5>
              <input style="width: 250px" type="number" class="form-control" placeholder="Nhập chiều cao (cm)"
                     formControlName="height">
              <p *ngIf="!ccdvForm.get('height')?.valid && ccdvForm.get('height')?.touched" style="color: red">phải cao hơn
                1m</p>

            </div>
          </td>
          <td style="padding-left: 7%">
            <div class="form-group">
              <h5>Cân nặng : </h5>
              <input style="width: 250px" type="number" class="form-control" placeholder="Nhập cân nặng (kg)"
                     formControlName="weight">
              <p *ngIf="!ccdvForm.get('weight')?.valid && ccdvForm.get('weight')?.touched" style="color: red">phải nặng
                hơn 30 kg</p>
            </div>
          </td>
          <td style="float: right">
            <div class="form-group">
              <h5>Sở thích : </h5>
              <input style="width: 250px" class="form-control" placeholder="Nhập sở thích" formControlName="hobby">
              <p *ngIf="!ccdvForm.get('hobby')?.valid && ccdvForm.get('hobby')?.touched" style="color: red">ít nhất 10 kí
                tự</p>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              <h5>Yêu cầu : </h5>
              <input style="width: 250px" class="form-control" placeholder="Nhập yêu cầu"
                     formControlName="requestToPayer">
            </div>
          </td>
          <td style="padding-left: 7%">
            <div class="form-group">
              <h5>Link facebook : </h5>
              <input style="width: 250px" class="form-control" placeholder="Nhập Link FB" formControlName="linkFb">
              <p *ngIf="!ccdvForm.get('linkFb')?.valid && ccdvForm.get('linkFb')?.touched" style="color: red">k đc để
                trống</p>
            </div>
          </td>
          <td style="float: right">
            <div class="form-group">
              <h5>Giá : </h5>
              <input style="width: 250px" type="number" class="form-control" placeholder="Nhập giá (đ/h)"
                     formControlName="price">
              <p *ngIf="!ccdvForm.get('price')?.valid && ccdvForm.get('price')?.touched" style="color: red">ít nhất 70k
                nhiều nhất 500k</p>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="form-group">
              <h5>Miêu tả : </h5>
              <textarea class="form-control" placeholder="Nhập mô tả về bạn" formControlName="description" cols="2"
                        rows="5"></textarea>
              <p *ngIf="!ccdvForm.get('description')?.valid && ccdvForm.get('description')?.touched" style="color: red">ít nhất 10 kí tự</p>
            </div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td style="float: right">
            <a class="btn btn-secondary ml-3" href="/">Quay lại</a>
            <button type="submit" class="btn btn-primary ml-3" [disabled]="ccdvForm.invalid">Chỉnh sửa</button>
          </td>
        </tr>
      </table>

    </form>
  </div>
</div>
