<!--<app-nav></app-nav>-->
<!--<router-outlet></router-outlet>-->
<!--<app-footer></app-footer>-->

<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="col-12" style="margin-top: 30px">&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-card style="margin: 50px" >&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-card-title class="alert alert-primary"></mat-card-title>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-card>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<app-seach-status-order></app-seach-status-order>
