<div align="center">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="width: 1000px" >
  <div class="carousel-indicators" >
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" >
    <div class="carousel-item active" style="height: 500px">
      <img src="assets/img/242642655_2746489158989094_273761926959938161_n.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" style="height: 500px">
      <img src="assets/img/Screenshot%202021-11-05%20144301.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" style="height: 500px">
      <img src="assets/img/T4AQ8L79A-U0101KM6T9N-574bec40e32e-512.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
