<div class="container">
  <div class="col-12" style="margin-top: 20px" >
    <mat-card style="margin: 20px 0">
      <form class="form-register" #f="ngForm" (ngSubmit)="f.form.valid && ngSubmit()" novalidate>
        <br><br><br>
        <mat-card-title class="alert alert-primary" style="font-size: 30px">Đăng ký</mat-card-title>
        <mat-error>{{status}}</mat-error>
        <!--    UserName-->
        <p>
          <mat-form-field style="width: 400px" appearance="outline">
            <mat-label>Tên đăng nhập:</mat-label>
            <input matInput placeholder="Placeholder" name="username" [(ngModel)]="sigUpForm.username"
                   required #username="ngModel" minlength="3" maxlength="20">
            <mat-error *ngIf="username.hasError('required')">Ô nhập tên đang bị bỏ trống, vui lòng điền!</mat-error>
            <mat-error *ngIf="username.hasError('minlength')">Độ dài của tên phải là từ 3 đến 20 ký tự</mat-error>
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
        </p>
        <!--        PASSWORD-->
        <p>
          <mat-form-field style="width: 400px" appearance="outline">
            <mat-label>Mật khẩu:</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="sigUpForm.password"
                   required #password="ngModel" minlength="6">
            <mat-error *ngIf="password.hasError('required')">Chưa nhập password, mời nhập vào</mat-error>
            <mat-error *ngIf="password.hasError('minlength')">Mật khẩu phải 6 kí tự trở lên</mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field style="width: 400px" appearance="outline">
            <mat-label>Nhập lại mật khẩu:</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="pass"
                   required #password="ngModel" minlength="6">
            <mat-error *ngIf="password.hasError('required')">Chưa nhập password, mời nhập vào</mat-error>
            <mat-error *ngIf="password.hasError('minlength')">Mật khẩu phải 6 kí tự trở lên</mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </p>

        <!--Email-->
        <p>
          <mat-form-field style="width: 400px" appearance="outline">
            <mat-label>Email:</mat-label>
            <input matInput placeholder="Placeholder" name="email" [(ngModel)]="sigUpForm.email"
                   [formControl]="emailFormControl">
            <mat-error *ngIf="emailFormControl.hasError('required')">Ô nhập Email đang bị bỏ trống, vui lòng nhập vào!</mat-error>
            <mat-error *ngIf="emailFormControl.hasError('email')">Nhập vào đúng định dạng email, ví dụ:binh@gamil.com</mat-error>
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>
        </p>

        <!--        ADDRESS-->
        <p>
          <mat-form-field style="width: 400px" appearance="outline">
            <mat-label>Số điện thoại:</mat-label>
            <input type="number" matInput name="phoneNumber" [(ngModel)]="sigUpForm.phoneNumber"
                   required #phoneNumber="ngModel">
            <mat-error *ngIf="phoneNumber.hasError('required')">Ô số điện thoại đang bị bỏ trống, vui lòng điền!</mat-error>
          </mat-form-field>
          <br>
          <button mat-stroked-button color="primary" class="mat-raised-button ">Đăng ký</button>
        </p>
      </form>
    </mat-card>
  </div>
</div>

