<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top: 30px"><br><br>
      <mat-card style="margin: 50px" >
        <mat-card-title class="alert alert-primary">Danh sách các đơn đã thuê</mat-card-title>
        <div>
          <table mat-table [dataSource]="dataSource">
            <!-- STT Column -->
            <ng-container matColumnDef="STT">
              <th mat-header-cell *matHeaderCellDef> STT.</th>
              <td mat-cell *matCellDef="let i = index"> {{i}} </td>
            </ng-container>

            <!-- Người thuê -->
            <ng-container matColumnDef="Người cung cấp">
              <th mat-header-cell *matHeaderCellDef>Người thuê</th>
              <td mat-cell *matCellDef="let element"><a
                [routerLink]="['/order-detail/',element.id]">{{element.supplier.name}}</a></td>
            </ng-container>

            <!-- Địa điểm thuê -->
            <ng-container matColumnDef="Địa điểm">
              <th mat-header-cell *matHeaderCellDef> Địa điểm</th>
              <td mat-cell *matCellDef="let element">{{element.address}}</td>
            </ng-container>


            <!-- Thời gian thuê/tiếng Column -->
            <ng-container matColumnDef="Thời gian thuê">
              <th mat-header-cell *matHeaderCellDef> Thời gian thuê/tiếng</th>
              <td mat-cell *matCellDef="let element">{{element.totalTime}}</td>
            </ng-container>

            <!-- Thời gian bắt đầu Column -->
            <ng-container matColumnDef="Thời gian bắt đầu">
              <th mat-header-cell *matHeaderCellDef>Thời gian bắt đầu</th>
              <td mat-cell *matCellDef="let element">{{element.hourStart}}h {{element.dayStart}}</td>
            </ng-container>

            <!-- Thời gian bắt đầu Column -->
            <ng-container matColumnDef="Tổng tiền">
              <th mat-header-cell *matHeaderCellDef>Tổng tiền</th>
              <td mat-cell *matCellDef="let element">{{element.totalMoney}}</td>
            </ng-container>

            <!-- Trạng thái Column -->
            <ng-container matColumnDef="Trạng thái">
              <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
              <td mat-cell *matCellDef="let element">{{element.statusOrder}}</td>
            </ng-container>

            <!-- Trạng thái Column -->
            <ng-container matColumnDef="Thao tác">
              <th mat-header-cell *matHeaderCellDef>Thao tác</th>
              <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" *ngIf="element.statusOrder=='Đã nhận'" (click)="changeStatusOrder(element.id)">Xác nhận</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
        </div>

      </mat-card>
    </div>
  </div>
</div>
